@import "./config";

.header {
  display: flex;
  height: $appbar-height;
  align-items: center;
}

.noDrawerButton {
  padding: $workspace-v-offset $workspace-h-offset;
}

.iconButton {

}

.Actions {
  margin-left: 2*$unit;
}
